

{% extends "base.html" %} {% block content %}
<div style="text-align: center; font-size: 40;color: bisque; padding-top: 200px;">“Your diet is a bank account. Good food            choices are good investments.”</div>
<div class="about">
    <div class="container-fluid">
       <div class="row d_flex">
          <div class="col-lg-6 col-md-12" >
             <div class="titlepage text_align_left">
                <span style="    font-size: 24px;
                margin-left: -120px;
                padding-top: 430px;
                color: #6b7908;
                line-height: 30px;
                font-weight: bold;
                padding-bottom: 15px;
                display: block;
                text-transform: uppercase;"     background: #fff;
    padding-top: 90px;>About Us</span>
                <h2 style="    font-size: 37px;
                line-height: 37px;    color: #999998;
    font-weight: bold;
    display: block;
    text-transform: uppercase;margin-left: -120px;">AGRICULTURE MARKET</h2>
                <p style="    padding-top: 20px;
                color: #999998;margin-left: -120px;">A crop disease detection system is a technology or method designed to identify and diagnose diseases in crops, such as plants, trees, or other cultivated vegetation. These systems are valuable tools for farmers, agronomists, and researchers, as they help monitor and manage the health of agricultural and horticultural crops.</p>
             </div>
          </div>
          <div class="col-lg-6 col-md-12">
             <div class="row d_flex">
              <div class="col-md-7">
                <div class="about_img">
                   <figure style=" padding-top:410px;"><img src="/static/images/about_img.jpg" alt="#" style=" max-width: 100%; height: auto;border-radius: 5px;"/>
                   </figure>
                </div>
              </div>
              <div class="col-md-5">
                <div class="about_img">
                   <figure style=" padding-top:430px;"><img src="/static/images/about_img1.jpg" alt="#" style=" max-width: 115%; height: auto;border-radius: 5px;"/>
                   </figure>
                </div>
              </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <span style="    font-size: 24px;
               margin-left: -120px;
               margin-bottom: 50px;
                color: #6b7908;
                line-height: 30px;
                font-weight: bold;
                
                display: block;
                text-transform: uppercase;"     background: #fff;
   >Frequent Leaf Deasease</span>
 <div><img src="/static/images/stra1.jpg" alt="" style="max-width: 220; border-radius: 5px;margin-left: -40px; box-shadow: 5px 8px 8px #818789;">
<img src="/static/images/stra2.jpg" alt="" style="border-radius: 5px;margin-left: 60px;box-shadow: 5px 8px 8px #818789;
height: 231px;
width: 225px;">
<img src="/static/images/stra3.jpeg" alt="" style="border-radius: 5px;margin: 0 60px;box-shadow: 5px 8px 8px #818789;
height: 231px;
width: 225px;">
<img src="/static/images/stra4.jpeg" alt="" style="border-radius: 5px;height: 231px;width: 225px;box-shadow: 5px 8px 8px #818789;">
</div>
<div style="padding-top: 50;"><img src="/static/images/apple1.jpeg" alt=""style="border-radius: 5px;height: 231px;width: 225px;margin-left:-40px;box-shadow: 5px 8px 8px #818789;">
<img src="/static/images/apple2.jpeg" alt="" style="border-radius: 5px;height: 231px;width: 225px;margin-left: 57px;box-shadow: 5px 8px 8px #818789;">
<img src="/static/images/apple3.jpeg" alt="" style="border-radius: 5px;height: 231px;width: 225px;margin-left:60px;box-shadow: 5px 8px 8px #818789;">
<img src="/static/images/apple4.jpeg" alt="" style="border-radius: 5px;height: 231px;width: 225px;margin-left:60px;box-shadow: 5px 8px 8px #818789;"></div>
<div class="footerr" style=" padding: 80px; margin-left: -230px; margin-right: -177px; margin-top: 70px; height: 300px; background-color: #6b7908;">
   <div style="display: flex; justify-content: space-between;" >
      <div> <h1>CROP-SCAN</h1></div>
      <div style="display: flex; column-gap: 45px; align-items: center;">
         <div>Home</div>
         <div>About</div>
         <div>Resource</div>
         <div>Contact us</div>
      </div>
   </div>
</div>
{% endblock %}